*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#FFF6D4;
}

.container{

    width:100%;

    display:flex;

    justify-content:center;

}

.card{

    width:360px;

    background:white;

    padding:35px;

    border-radius:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.logo{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

}

.sun{

    color:#ffb330;

    font-size:35px;

}

.logo h1{

    font-size:42px;

    font-weight:500;

}

.subtitle{

    text-align:center;

    margin-top:10px;

    color:#999;

    font-size:13px;

    margin-bottom:30px;

}

input{

    width:100%;

    padding:13px;

    border:none;

    border-radius:10px;

    background:#d9d9d9;

    margin-bottom:18px;

}

.password-box{

    position:relative;

}

.password-box i{

    position:absolute;

    right:15px;

    top:15px;

    color:#777;

    cursor:pointer;

}

.check{

    display:block;

    text-align:right;

    font-size:13px;

    color:#666;

    text-decoration:none;

    margin-bottom:15px;

}

button{

    width:100%;

    border:none;

    padding:13px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

form button{

    background:#8fc2f1;

    font-size:16px;

}

form button:hover{

    background:#6caee9;

}

.divider{

    margin:25px 0;

    display:flex;

    align-items:center;

}

.divider::before,
.divider::after{

    content:"";

    flex:1;

    height:1px;

    background:#bbb;

}

.divider span{

    margin:0 10px;

    color:#999;

    font-size:13px;

}

.google{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    background:#efefef;

    color:#777;

}

.google img{

    width:20px;

}

.google:hover{

    background:#ddd;

}

.signin{

    text-align:center;

    margin-top:20px;

    font-size:14px;

    color:#888;

}

.signin a{

    text-decoration:none;

    color:#7bb9ff;

    font-weight:600;

}

.signin a:hover{

    text-decoration:underline;

}

input:focus{

    outline:none;

    background:#ececec;

}